<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array/>
	<key>InformationSize</key>
	<array>
		<real>290</real>
		<real>314</real>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>1</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>1514</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Variables</key>
	<array/>
	<key>WindowPos</key>
	<array>
		<real>342</real>
		<real>810</real>
		<real>512</real>
		<real>368</real>
	</array>
</dict>
</plist>
