<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>ZScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MaxZValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>MinZValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Camera</key>
			<dict>
				<key>Active</key>
				<integer>0</integer>
				<key>Cameras</key>
				<array>
					<dict>
						<key>CameraType</key>
						<string>Spherical</string>
						<key>Horizontal</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>-58.710000000000001</real>
								<key>MaxValue</key>
								<real>180</real>
								<key>MinValue</key>
								<real>-180</real>
								<key>String</key>
								<string>-58.71</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>20</real>
								<key>MaxValue</key>
								<real>60</real>
								<key>MinValue</key>
								<real>2</real>
								<key>String</key>
								<string>20</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Name</key>
						<string>Spherical</string>
						<key>UpVector</key>
						<integer>0</integer>
						<key>Vertical</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>-4.6909999999999998</real>
								<key>MaxValue</key>
								<real>90</real>
								<key>MinValue</key>
								<real>-90</real>
								<key>String</key>
								<string>-4.691</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point Value Collection</string>
					<key>Computation</key>
					<dict>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CutOff</key>
						<string>100000</string>
						<key>Material</key>
						<integer>0</integer>
						<key>Maximum</key>
						<string>700K</string>
						<key>Points</key>
						<dict>
							<key>Selected</key>
							<string>Final output - points labeled by cluster</string>
						</dict>
						<key>Ramp</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Menu</key>
								<integer>0</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>1,58</string>
							</dict>
							<key>Selected</key>
							<string>Cluster ID Range</string>
						</dict>
						<key>Size</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>15</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Swap</key>
						<string>Off</string>
						<key>Type</key>
						<integer>2</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>314</real>
			<key>DrawingWindowType</key>
			<string>3DGLGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{679, 314}</string>
			<key>Lights</key>
			<dict>
				<key>Lights</key>
				<array/>
			</dict>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>Rendering</key>
			<dict>
				<key>BackgroundColor</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>1</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Density</key>
				<string>1</string>
				<key>Fog</key>
				<string>Off</string>
				<key>FogType</key>
				<integer>0</integer>
				<key>LinearRange</key>
				<string>0,1</string>
				<key>Offset</key>
				<string>1,10</string>
				<key>Smoothing</key>
				<integer>3</integer>
				<key>Sorting</key>
				<integer>0</integer>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>681,314</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>3D Space (GL)</string>
			<key>WindowPos</key>
			<array>
				<real>1197</real>
				<real>55</real>
				<real>679</real>
				<real>619</real>
			</array>
		</dict>
	</array>
	<key>MonitorVariables</key>
	<array>
		<string>3D Point series from time value</string>
		<string>start bin</string>
		<string>bin width</string>
		<string>which bin</string>
		<string>number of bins</string>
		<string>extract time info</string>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>2600</real>
			<key>MaxValue</key>
			<real>3700.0000002950396</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>2600</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>9</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>874</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string></string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>ScriptName</key>
			<string>Text-5.rtfd</string>
			<key>TextHeight</key>
			<real>154</real>
			<key>VariableName</key>
			<string>DAText - 3</string>
			<key>VariableType</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>ScriptName</key>
			<string>Text-1.rtfd</string>
			<key>TextHeight</key>
			<real>42</real>
			<key>VariableName</key>
			<string>DAText - 5</string>
			<key>VariableType</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Open</string>
			<key>Title</key>
			<string>Configuration</string>
			<key>VariableName</key>
			<string>DACollapser - 4</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Open</string>
			<key>Title</key>
			<string>Matlab setup</string>
			<key>VariableName</key>
			<string>DACollapser - 5</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>The path to the matlab executable on your system (change this to be correct)</string>
			<key>VariableName</key>
			<string>DAComment - 5</string>
			<key>VariableType</key>
			<string>Comment</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Text</key>
				<string>/Applications/Matlab_R2018a.app/bin/matlab</string>
			</dict>
			<key>Selection</key>
			<string>Specify</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>matlabpath</string>
			<key>VariableType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>Don't mess with this</string>
			<key>VariableName</key>
			<string>DAComment - 6</string>
			<key>VariableType</key>
			<string>Comment</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Closed</string>
			<key>Title</key>
			<string>Gen Louvain code</string>
			<key>VariableName</key>
			<string>DACollapser - 7</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>FileName</key>
				<string>GenLouvain-2.1/DTWrapper4.m</string>
			</dict>
			<key>Selection</key>
			<string>Single File</string>
			<key>VariableName</key>
			<string>DT Wrapper Script</string>
			<key>VariableType</key>
			<string>FileName</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Extension</key>
				<string>Off</string>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>DT Wrapper Script</string>
				</dict>
				<key>Path</key>
				<string>On</string>
			</dict>
			<key>Selection</key>
			<string>From File Name</string>
			<key>VariableName</key>
			<string>genlouvainpath</string>
			<key>VariableType</key>
			<string>String</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 7 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 5 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Open</string>
			<key>Title</key>
			<string>Input</string>
			<key>VariableName</key>
			<string>DACollapser - 1</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>This is the datatask file that contains the input information</string>
			<key>VariableName</key>
			<string>DAComment - 1</string>
			<key>VariableType</key>
			<string>Comment</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>FileName</key>
				<string>~/Desktop/Sergio 20190912/Output.dtbin</string>
			</dict>
			<key>Selection</key>
			<string>Single File</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Input File</string>
			<key>VariableType</key>
			<string>FileName</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Closed</string>
			<key>Title</key>
			<string>Processing</string>
			<key>VariableName</key>
			<string>DACollapser - 8</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string></string>
					</dict>
					<key>Selected</key>
					<string>Input File</string>
				</dict>
				<key>Time</key>
				<string>0</string>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From File</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Input Data</string>
			<key>VariableType</key>
			<string>DataFile</string>
			<key>ViewHeight</key>
			<real>214</real>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<dict>
					<key>Selected</key>
					<string>Input Data</string>
				</dict>
				<key>ReadForBB</key>
				<string>Off</string>
				<key>VariableName</key>
				<dict>
					<key>Title</key>
					<string>Var</string>
					<key>Token</key>
					<string>Var</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Read</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Var</string>
			<key>VariableType</key>
			<string>Path3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Var</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Time From Variable</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>time from Var</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>Extract the data out of the datatask file in the form of a 3d path series</string>
			<key>VariableName</key>
			<string>DAComment - 2</string>
			<key>VariableType</key>
			<string>Comment</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Threads</key>
				<integer>3</integer>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>time from Var</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Combine Time Values</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Var series</string>
			<key>VariableType</key>
			<string>Series</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>$BUILD/Debug/extract_time_info</string>
				<key>Argument</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Communication</key>
				<integer>1</integer>
				<key>Input</key>
				<string>Input.dtbin</string>
				<key>Output</key>
				<string>Output.dtbin</string>
				<key>Project</key>
				<string>extract_time_info/extract_time_info.xcodeproj</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>series</string>
						<key>SeriesType</key>
						<string>Real Number</string>
						<key>Type</key>
						<string>Series</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>Var series</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>External Program</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>extract time info</string>
			<key>VariableType</key>
			<string>NumberList</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>List</key>
				<dict>
					<key>Selected</key>
					<string>extract time info</string>
				</dict>
				<key>Location</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeEqualsCurrent</key>
				<string>On</string>
				<key>StartAt0</key>
				<string>Off</string>
			</dict>
			<key>Selection</key>
			<string>Value From List</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Data Start Time</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>List</key>
				<dict>
					<key>Selected</key>
					<string>extract time info</string>
				</dict>
				<key>Location</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>2</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeEqualsCurrent</key>
				<string>On</string>
				<key>StartAt0</key>
				<string>Off</string>
			</dict>
			<key>Selection</key>
			<string>Value From List</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>dt</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 8 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 1 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Closed</string>
			<key>Title</key>
			<string>Parameters</string>
			<key>VariableName</key>
			<string>DACollapser - 6</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>ScriptName</key>
			<string>Text-4.rtfd</string>
			<key>TextHeight</key>
			<real>42</real>
			<key>VariableName</key>
			<string>DAText - 4</string>
			<key>VariableType</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>2500</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>Processing Start time</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>1</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>Window size</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>2600</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>End time</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>The resolution parameter - higher value will lead to a partition into smaller communities.</string>
			<key>VariableName</key>
			<string>DAComment - 7</string>
			<key>VariableType</key>
			<string>Comment</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>5</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>Gamma</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>The temporal parameter - higher value will lead to nodes more likely to stay in same cluster</string>
			<key>VariableName</key>
			<string>DAComment - 8</string>
			<key>VariableType</key>
			<string>Comment</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>1</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>Omega</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 6 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 4 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Open</string>
			<key>Title</key>
			<string>Input Processing</string>
			<key>VariableName</key>
			<string>DACollapser - 2</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>ScriptName</key>
			<string>Text-7.rtfd</string>
			<key>TextHeight</key>
			<real>28</real>
			<key>VariableName</key>
			<string>DAText - 1</string>
			<key>VariableType</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Points on Var</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Time From Variable</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Current Points Time</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Var</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Variable</string>
			<key>VariableName</key>
			<string>Points on Var</string>
			<key>VariableType</key>
			<string>PointCollection3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Points</key>
				<dict>
					<key>Selected</key>
					<string>Points on Var</string>
				</dict>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>1560,1920</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Portion</string>
			<key>VariableName</key>
			<string>Portion of Points on Var</string>
			<key>VariableType</key>
			<string>PointCollection3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Threads</key>
				<integer>3</integer>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Portion of Points on Var</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Combine Time Values</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>3D Point series from time value</string>
			<key>VariableType</key>
			<string>Series</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>Convert the input times into time bins</string>
			<key>VariableName</key>
			<string>DAComment - 9</string>
			<key>VariableType</key>
			<string>Comment</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>round((p_start-d_start)/dt)</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>p_start</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>Processing Start time</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>d_start</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>Data Start Time</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>dt</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>dt</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>start bin</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>round(width/dt)</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>width</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>Window size</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>dt</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>dt</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>bin width</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>round((end_time-start_time)/(window_size))</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>end_time</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>End time</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>start_time</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>Processing Start time</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>window_size</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>Window size</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>number of bins</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>This module converts the 3d point series data into a (dense) weighted adjacency matrix</string>
			<key>VariableName</key>
			<string>DAComment - 4</string>
			<key>VariableType</key>
			<string>Comment</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>$BUILD/Release/NetworkAdjacency</string>
				<key>Argument</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Communication</key>
				<integer>1</integer>
				<key>Input</key>
				<string>Input.dtbin</string>
				<key>Output</key>
				<string>Output.dtbin</string>
				<key>Project</key>
				<string>NetworkAdjacency/NetworkAdjacency.xcodeproj</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>bins</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>10</string>
							</dict>
							<key>Selected</key>
							<string>number of bins</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>width</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>10</string>
							</dict>
							<key>Selected</key>
							<string>bin width</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>threshold</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>300</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>points</string>
						<key>SeriesType</key>
						<string>PointCollection3D</string>
						<key>Type</key>
						<string>Series</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>3D Point series from time value</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>scale</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>100</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>start</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>100</string>
							</dict>
							<key>Selected</key>
							<string>start bin</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>External Program</string>
			<key>VariableName</key>
			<string>Network Adjacency</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 2 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Closed</string>
			<key>Title</key>
			<string>Community Detection</string>
			<key>VariableName</key>
			<string>DACollapser - 3</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>ScriptName</key>
			<string>Text-3.rtfd</string>
			<key>TextHeight</key>
			<real>14</real>
			<key>VariableName</key>
			<string>DAText - 2</string>
			<key>VariableType</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>$BUILD/Release/GeneratePartitions</string>
				<key>Argument</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Communication</key>
				<integer>1</integer>
				<key>Input</key>
				<string>Input.mat</string>
				<key>Output</key>
				<string>Output.mat</string>
				<key>Project</key>
				<string>GeneratePartitions/GeneratePartitions.xcodeproj</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>adjacency</string>
						<key>Type</key>
						<string>Array</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>Network Adjacency</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>gamma</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>5</string>
							</dict>
							<key>Selected</key>
							<string>Gamma</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>omega</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>1</string>
							</dict>
							<key>Selected</key>
							<string>Omega</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>matlabpath</string>
						<key>Type</key>
						<string>String</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string>/Applications/Matlab_R2018a.app/bin/matlab</string>
							</dict>
							<key>Selected</key>
							<string>matlabpath</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>genlouvainpath</string>
						<key>Type</key>
						<string>String</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>String</key>
								<string>/Users/ben/Dropbox/GenLouvain-2.1/</string>
							</dict>
							<key>Selected</key>
							<string>genlouvainpath</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>External Program</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Partition</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 3 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Open</string>
			<key>Title</key>
			<string>Creating final output</string>
			<key>VariableName</key>
			<string>DACollapser - 11</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>Comment</key>
			<string>Set below to the run that you want to show in the plot</string>
			<key>VariableName</key>
			<string>DAComment - 10</string>
			<key>VariableType</key>
			<string>Comment</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Points on Var</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Time From Variable</string>
			<key>VariableName</key>
			<string>points time</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>min(ceil((points_time-start_time)/window),num_bins)</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>points_time</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>points time</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>start_time</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>Processing Start time</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>dt</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>dt</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>bin_width</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>bin width</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>num_bins</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>number of bins</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>window</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>Window size</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>which bin</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>Partition</string>
				</dict>
				<key>Number</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>Selected</key>
					<string>which bin</string>
				</dict>
				<key>Type</key>
				<integer>1</integer>
			</dict>
			<key>Selection</key>
			<string>From Array</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Current partition</string>
			<key>VariableType</key>
			<string>NumberList</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>MaximaOrMinima</key>
				<integer>1</integer>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Current partition</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Maxima or Minima</string>
			<key>VariableName</key>
			<string>max of Current partition</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>MaximaOrMinima</key>
				<integer>0</integer>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Current partition</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Maxima or Minima</string>
			<key>VariableName</key>
			<string>min of Current partition</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Left</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0</string>
					</dict>
					<key>Selected</key>
					<string>min of Current partition</string>
				</dict>
				<key>Right</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>Selected</key>
					<string>max of Current partition</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Left And Right</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Cluster ID Range</string>
			<key>VariableType</key>
			<string>Range</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Points</key>
				<dict>
					<key>Selected</key>
					<string>Portion of Points on Var</string>
				</dict>
				<key>Values</key>
				<dict>
					<key>Selected</key>
					<string>Current partition</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Points and Values</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Final output - points labeled by cluster</string>
			<key>VariableType</key>
			<string>PointValueCollection3D</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 11 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
	</array>
	<key>WindowPosition</key>
	<array>
		<real>190</real>
		<real>8</real>
		<real>1229</real>
		<real>1049</real>
	</array>
</dict>
</plist>
