<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Inputs</key>
		<array>
			<dict>
				<key>Name</key>
				<string>3D Path</string>
				<key>Type</key>
				<string>Path3D</string>
			</dict>
			<dict>
				<key>Extra</key>
				<dict>
					<key>Text</key>
					<string>1,2,3</string>
				</dict>
				<key>Name</key>
				<string>Which Points to Extract</string>
				<key>Type</key>
				<string>NumberList</string>
			</dict>
		</array>
		<key>Name</key>
		<string>3D Point Collection</string>
		<key>Type</key>
		<string>PointCollection3D</string>
	</dict>
</array>
</plist>
